.Widget--topImage {
  position: relative;
  z-index: 0;
  padding: 0;
}

.ornament2 {
  position: absolute;
  z-index: 3;
  top: 7rem;
  left: 0;
  display: none;
  width: auto;
  height: 100%;
}
.ornament2 path {
  fill: linear-gradient(0deg, rgba(179, 57, 57, 0.723) 0%, rgb(245, 245, 245) 69%);
}
@media (min-width: 1200px) {
  .ornament2 {
    display: block;
  }
}

.test {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 25%;
  display: none;
  height: 35rem;
  transform: translate(50%, -50%);
}

.container .inner {
  z-index: 2;
  display: grid;
  min-height: 70rem;
}
@media (min-width: 1200px) {
  .container .inner {
    overflow: hidden;
    min-height: calc(100dvh - max(71px, 8.4rem));
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
.container .inner .content {
  position: relative;
  z-index: 4;
  padding: max(40px, 6rem) 0 max(60px, 6rem) 0;
  text-align: center;
}
@media (min-width: 1200px) {
  .container .inner .content {
    padding: 4rem 10rem 4rem 0;
    text-align: left;
  }
}
.container .inner .content > *:first-child {
  margin: 0 0 5rem 0;
}
.container .inner .content .TopImage-motto {
  margin: 1.9rem 0 0 0;
  font-style: italic;
}
.container .inner .content .contentInner strong {
  color: var(--primary-color);
}
.container .inner .cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: max(30px, 6rem) 0 0 0;
  gap: max(10px, 1rem);
}
@media (min-width: 1200px) {
  .container .inner .cta {
    justify-content: flex-start;
  }
}
.container .inner .cta .ctaScroll {
  display: flex;
  width: 6.3rem;
  height: 6.3rem;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-smaller);
  background-color: var(--primary-color);
}
.container .inner .cta .ctaScroll svg {
  width: 3rem;
  height: 3rem;
}
.container .inner .cta .ctaScroll svg path {
  stroke: var(--base-white);
  stroke-width: 2px;
}
.container .background {
  position: relative;
  left: calc(var(--space-side) * -1);
  width: calc(100% + var(--space-side) * 2);
  height: 80rem;
  order: -1;
}
@media (min-width: 720px) {
  .container .background {
    left: calc(var(--space-side-md) * -1);
    width: calc(100% + var(--space-side-md) * 2);
    height: 110rem;
  }
}
@media (min-width: 1200px) {
  .container .background {
    position: static;
    height: auto;
    order: unset;
  }
}
.container .background .TopImage-backgroundOrnament {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  display: none;
  width: auto;
  height: 100%;
}
.container .background .TopImage-backgroundOrnament path {
  fill: var(--base-white);
}
@media (min-width: 1200px) {
  .container .background .TopImage-backgroundOrnament {
    display: block;
  }
}
.container .background .TopImage-backgroundOrnamentRespo {
  position: absolute;
  z-index: 2;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
}
.container .background .TopImage-backgroundOrnamentRespo path {
  fill: var(--base-white);
}
@media (min-width: 1200px) {
  .container .background .TopImage-backgroundOrnamentRespo {
    display: none;
  }
}
.container .background .TopImage-logo {
  display: none;
}
@media (min-width: 1200px) {
  .container .background .TopImage-logo {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 5rem 2rem;
  }
}
.container .background .TopImage-logo svg {
  width: 40rem;
  height: auto;
}
.container .image img {
  position: relative;
  z-index: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 80rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 720px) {
  .container .image img {
    height: 110rem;
  }
}
@media (min-width: 1200px) {
  .container .image img {
    position: absolute;
    width: 50%;
    height: 100%;
  }
}
.container .video {
  width: 100%;
}
.container .video video {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 80rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1200px) {
  .container .video video {
    width: 50%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .container:has(.video) .image {
    display: none;
  }
}

@keyframes slideShowAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}/*# sourceMappingURL=top-image.module.css.map */