.CookieRecord {
	display: block;
	padding: Max(20px, 3rem);
	border-radius: var(--border-radius);
	background-color: var(--base-grey);

	.CookieRecord-name {
		margin: 0 0 1.8rem 0;
		font-size: Max(17px, 1.9rem);
		font-weight: 700;
		line-height: 1;
	}

	.CookieRecord-items {
		display: grid;
		grid-gap: 1rem;
	}

	.CookieRecord-item {
		display: grid;
		font-size: Max(15px, 1.5rem);
		grid-template-columns: 16rem 1fr;
		line-height: Max(20px, 2rem);

		.CookieRecord-itemName {
			font-weight: 700;
		}
	}
}
