@import "../../../../core/imports";

.newestItem {
    display: grid;
    border: 1px solid #f0f0f0;
    border-radius: var(--border-radius);
    margin: 5rem 0 0 0;
    grid-gap: 0 5rem;
    @include media(md) {
        padding: 5rem 0;
        border: none;
        margin: 0;
        grid-template-columns: 1fr 1fr;
    }

    .newestItemImage {
        position: relative;
        height: Max(290px, 75rem);

        img {
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 100%;

            border-radius: var(--border-radius);
            object-fit: cover;

        }
    }

    .newestItemContent {
        display: flex;
        align-items: center;

        .newestItemContentInner {
            padding: Max(20px, 2rem);
        }

        .newestItemContentText {

            > *:first-child {
                margin: 0 0 4rem 0;
                word-break: break-word;
            }

            span {
                display: block;

                &:not(:last-child) {
                    margin: 0 0 Max(10px, 1rem) 0;
                }
            }
        }

        .newestItemButtons {
            display: none;
            flex-wrap: wrap;
            align-items: center;
            margin: 4rem 0 0 0;
            gap: Max(10px, 1rem);
            @include media(md) {
                display: flex;
            }
        }
    }
}
