@import "../../../../core/imports";

.item {
    border: 1px solid #f0f0f0;
    border-radius: var(--border-radius);

    .itemImage {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: Max(290px, 48rem);
        border-radius: var(--border-radius);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .itemContent {
        padding: Max(20px, 2rem);

        .itemContentText {

            > *:first-child {
                margin: 0 0 3rem 0;
                word-break: break-word;
            }

            span {
                display: block;

                &:not(:last-child) {
                    margin: 0 0 1rem 0;
                }
            }
        }
    }
}
