@import "../../../core/imports";

.Widget--numbers {
    padding: var(--spacing-double);
}

.container {

    .inner {
        display: grid;
        grid-gap: Max(40px, 4rem);
        grid-template-columns: repeat(1, 1fr);

        @include media(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media(md) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.item {

    .itemValue {
        color: var(--title-color);
        font-size: Max(50px, 6rem);
        font-weight: 700;
        line-height: Max(55px, 6.6rem);
        text-align: center;

        &::after {
            top: auto;
            left: 50%;
            display: flex;
            width: 100%;
            max-width: 80px;
            height: 2px;
            margin: Max(12px, 1.8rem) auto;
            background-color: var(--primary-color);
            content: "";
        }
    }

    .itemTitle {
        margin: Max(8px, 1rem) 0 0 0;
        font-size: Max(18px, 2rem);
        font-weight: 700;
        line-height: Max(24px, 2.6rem);
        text-align: center;
    }
}
