:root {
    --space-side: 20px;
    --space-side-md: 4.5rem;
    --border-radius: Max(8px, 0.8rem);
    --border-radius-smaller: Max(25px, 2.5rem);
    --spacing: Max(25px, 3.8rem) 0;
    --spacing-double: calc(Max(25px, 3.8rem) * 2) 0;
}
