.itemToolbar {
    position: absolute;
    top: Max(14px, 1.4rem);
    right: Max(14px, 1.4rem);
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    .itemToolbarItem {
        display: flex;
        width: Max(50px, 5rem);
        height: Max(50px, 5rem);
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius);
        box-shadow: 4px 4px 20px -3px rgba(0, 0, 0, 0.3);

        svg {

            path {
                stroke: var(--secondary-color);
                transition: 200ms ease-in-out;
            }
        }

        &.itemToolbarInstagram {
            border-radius: var(--border-radius);
            background-color: var(--base-white);
        }

        &.itemToolbarAdditionalMedia {
            border-radius: var(--border-radius);
            background-color: var(--base-white);
        }

        &.itemToolbarVideo {
            border-radius: var(--border-radius);
            background-color: var(--base-white);
        }

        &.itemToolbarPublishedDays {
            border: 2px solid var(--base-white);
            background-color: rgba(0, 0, 0, 0.25);
            color: var(--base-white);
            font-size: Max(14px, 1.4rem);
            pointer-events: none;
        }

        &:hover,
        &:focus {
            cursor: pointer;

            svg {

                path {
                    stroke: var(--primary-color);
                }
            }
        }
    }
}
