@import "../../../core/imports";

.container {
    max-width: 160rem;
    margin: 0 auto;
}

.header {
    position: fixed;
    z-index: 1020;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    background-color: var(--base-white);
    box-shadow: 0px 4px 75px -12px rgba(0, 0, 0, 0.1);

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media($menu-break) {
            align-items: unset;
        }

        .logo {
            padding: 1rem 8rem 1rem 0;

            a {
                display: flex;
                height: Max(60px,6.5rem);
                align-items: center;
                color: var(--text-color);
                font-size: Max(20px, 3rem);
                font-weight: 700;
                line-height: 1;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        .menu {
            position: absolute;
            top: calc(100% + 1px);
            left: 0;
            display: none;
            overflow: auto;
            width: 100%;
            max-height: calc(100vh - #{$header-height});
            padding: 3rem 0;
            border-bottom: 1px solid #e4e4e4;
            margin: 0 0 0 auto;
            background-color: var(--base-white);
            box-shadow: 0px 4px 75px -12px rgba(0, 0, 0, 0.1);

            @include media($menu-break) {
                position: static;
                display: block;
                overflow: unset;
                width: auto;
                max-height: unset;
                padding: 0;
                border: none;
                box-shadow: none;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                @include media($menu-break) {
                    display: flex;
                    height: 100%;
                }

                li {
                    position: relative;
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    margin: 0 Max(20px, 2.5rem);
                    gap: 1rem;
                    @include media($menu-break) {
                        flex-direction: row;
                    }

                    a,
                    span {
                        display: flex;
                        min-height: 40px;
                        align-items: center;
                        color: var(--base-black);
                        font-family: var(--font-family-title);
                        font-size: Max(17px, 1.8rem);
                        font-weight: 700;
                        letter-spacing: 1px;
                        line-height: 1;
                        text-decoration: none;
                        transition: 200ms ease;
                        @include media($menu-break) {
                            height: 100%;
                        }
                    }

                    &:last-child {
                        margin-right: 0;

                        a,
                        span {
                            padding-right: 0;
                        }
                    }

                    .openner {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: flex;

                        @include media($menu-break) {
                            position: static;
                        }

                        svg {
                            transition: 200ms ease;
                        }
                    }

                    ul {
                        position: relative;
                        display: none;
                        min-width: 32rem;
                        flex-direction: column;
                        border-radius: var(--border-radius-smaller);
                        margin: 0 0 2rem 0;
                        background-color: var(--base-white);
                        gap: 1rem;
                        @include media($menu-break) {
                            position: absolute;
                            top: calc(100% - 15px);
                            left: -15px;
                            height: auto;
                            padding: Max(10px, 1rem);
                            margin: 0;
                            box-shadow: 2px 2px 24px -3px rgba(0, 0, 0, 0.1);
                        }

                        li {
                            display: block;
                            margin: 0;

                            a {
                                padding: Max(10px, 1.5rem);
                                border-radius: var(--border-radius-smaller);
                                background-color: var(--soft-primary-color);
                                color: var(--base-black);
                                font-size: Max(15px, 1.6rem);
                                font-weight: 400;
                                line-height: Max(18px, 2.2rem);
                                text-transform: none;
                                transition: 200ms ease;

                                &:hover,
                                &:focus {
                                    background-color: var(--primary-color);
                                    color: var(--base-white);
                                }
                            }
                        }
                    }

                    &.isActive {

                        > a,
                        > span {
                            color: var(--primary-color);
                        }
                    }

                    &:hover,
                    &:focus {
                        @include media($menu-break) {

                            > a,
                            > span {
                                color: var(--primary-color);
                            }

                            .openner {

                                svg {
                                    transform: rotate(180deg);
                                }
                            }

                            ul {
                                display: flex;
                            }
                        }
                    }

                    &.isOpen {

                        > a,
                        > span {
                            color: var(--primary-color);
                        }

                        .openner {

                            svg {
                                transform: rotate(180deg);
                            }
                        }

                        ul {
                            display: flex;
                        }
                    }
                }
            }
        }

        .hamburger {
            display: flex;
            width: Max(30px, 4rem);
            height: Max(30px, 4rem);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            @include media($menu-break) {
                display: none;
            }

            span {
                display: block;
                width: 100%;
                height: 4px;
                border-radius: 10px;
                background-color: var(--primary-color);
            }
        }
    }

    .contact {

        &.desktop {
            display: none;
            @include media($menu-break) {
                display: flex;
            }
        }

        &.respo {
            display: flex;
            @include media($menu-break) {
                display: none;
            }
        }

        display: flex;
        align-items: center;
        justify-content: flex-end;
        order: -1;
        padding: 1rem 0 0 0;
        @include media($menu-break) {
            order: unset;
            padding: 0;
        }

        .contactInner {
            display: flex;
            align-items: center;
            color: var(--base-black);
            gap: 1.8rem;
            text-decoration: none;

            svg {
                width: Max(20px, 3rem);
                height: Max(20px, 3rem);
            }

            .contactContentPhone {
                font-size: Max(14px, 1.7rem);
                font-weight: 700;
                line-height: 1.1;
                text-align: right;
                transition: 200ms ease-in-out;
            }

            .contactContentTime {
                font-size: Max(13px, 1.4rem);
                line-height: 1.6;
                text-align: right;
            }
        }

        &:hover,
        &:focus {

            .contactContentPhone {
                color: var(--primary-color);
            }
        }
    }

    &.isOpen {

        .menu {
            display: block;
        }
    }
}

.spacing {
    height: $header-height;
}
