@import "../../core/imports";

.container {
    display: grid;
    padding: 3rem 0 5rem 0;
    grid-gap: 3rem;

    @include media(md) {
        padding: 5rem 0;
        grid-template-columns: 1fr 1fr;
    }
    @include media(lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.button {
    padding: 0 0 5rem 0;
    text-align: center;
}
